# NBA Data Analyzing 

This project will be using the NBA results provided by FiveThirtyEight.

**Import pandas as pd.**

In [2]:
import numpy as np
import pandas as pd

**Read nbaallelo_csv as a dataframe called nba.**

In [3]:
df = pd.read_csv('nbaallelo_csv.csv')

**Check the head of the DataFrame.**

In [4]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010trh,nba,0,1947,11/1/1946,1,0,trh,huskies,...,40.294830,nyk,knicks,68,1300.0000,1306.7233,h,l,0.640065,NaN
1,1,194611010trh,nba,1,1947,11/1/1946,1,0,nyk,knicks,...,41.705170,trh,huskies,66,1300.0000,1293.2767,a,w,0.359935,NaN
2,2,194611020chs,nba,0,1947,11/2/1946,1,0,chs,stags,...,42.012257,nyk,knicks,47,1306.7233,1297.0712,h,w,0.631101,NaN
3,2,194611020chs,nba,1,1947,11/2/1946,2,0,nyk,knicks,...,40.692783,chs,stags,63,1300.0000,1309.6521,a,l,0.368899,NaN
4,3,194611020dtf,nba,0,1947,11/2/1946,1,0,dtf,falcons,...,38.864048,wsc,capitols,50,1300.0000,1320.3811,h,l,0.640065,NaN

**Use the .info() method to find out how many entries there are.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

**Get the basic statistics of the dataset using describe() menthod.**

In [6]:
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

**What is the minimum and maximum forecasting between 1946-2015?**

In [7]:
df['forecast'].max()

0.97955316

In [8]:
df['forecast'].min()

0.020446837

**How many (unique) games played in each year?**

In [9]:
year = df.groupby("year_id")
year["game_id"].nunique()

year_id
1947     350
1948     215
1949     380
1950     593
1951     380
        ...
2011    1311
2012    1074
2013    1314
2014    1319
2015    1311
Name: game_id, Length: 69, dtype: int64

**List the teams earned more than 100 points in 2015.**

In [10]:
teams = df[(df['year_id']==2015) & (df['pts']>100)]['fran_id'].unique()
teams

array(['rockets', 'pelicans', 'spurs', 'celtics', 'nets', 'bucks',
       'hornets', 'pacers', 'grizzlies', 'timberwolves', 'heat', 'bulls',
       'suns', 'trailblazers', 'raptors', 'hawks', 'jazz', 'mavericks',
       'wizards', 'cavaliers', 'clippers', 'lakers', 'kings', 'warriors',
       'thunder', 'nuggets', 'magic', 'sixers', 'pistons', 'knicks'],
      dtype=object)

**How many games warriors won in 2015?**

In [11]:
df[(df['fran_id'] == 'warriors') & (df['year_id'] == 2015)]['game_result'].value_counts()['w']

83

**What is the maximum points cavaliers got in their winning games?**

In [12]:
df[(df['fran_id']=='cavaliers') & (df['game_result']=='w')]['pts'].max()

154

**How many home games knicks won?**

In [13]:
df[(df['fran_id']=='knicks') & (df['game_location']=='h')]['game_result'].value_counts()['w']

1722

**What is the largest gap between winning and losing team points between 1946 - 2015?**

In [14]:
df['pts_gap'] = df['pts'] - df['opp_pts']
df['pts_gap'].max()

68

**What are the top 5 teams based on number of games they play?**

In [15]:
df['team_id'].value_counts().head(5)

bos    5997
nyk    5769
lal    5078
det    4985
phi    4533
Name: team_id, dtype: int64

**What are the top 5 teams based on number of games they won?**

In [16]:
df[df['game_result']=='w']['fran_id'].value_counts().head()

lakers     3658
celtics    3517
sixers     2933
knicks     2855
pistons    2761
Name: fran_id, dtype: int64

**Find which time period Minneapolis Lakers (team_id = MNL) played NBA games.**

In [17]:
mx = df[df['team_id']=='mnl']['year_id'].max()
mn = df[df['team_id']=='mnl']['year_id'].min()

print(mn)
print(mn)

1949
1949